.movies-section {
    width: 100%;
}
.movies-section .grid {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
    padding-bottom: 3rem; 
}

.movies-section .grid .items-wrap{
    width: 100%;

    border: 1px solid #333333;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 10px;
    border-radius: 3px;    
}
.movies-section .grid .items-wrap .img-container{
    width: 100%;
    height: 400px;   

    margin-bottom: 16px;
}
.movies-section .grid .items-wrap .img-container img{
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.movies-section .grid .items-wrap li{
    height: 50px;
    text-align: center;
}

.movies-section p{
    text-align: center;
}


@media (min-width: 1024px) {
    .movies-section {
        width: 100%;
    }
}
