.search-section{
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search-section form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.search-section form .form-input{
    width: 100%;
    padding: 10px;
    outline: none;

    font-size: 18px;
    color: #f2f2f2 ;

    border-radius: 3px;
    border: #333333 2px solid;
    
    background: none;
    transition: all ease .3s;
}
.search-section form .form-input:focus{
    border: #f2f2f2 2px solid;
}

.search-section form .form-btn{
    width: 60px;
    padding: 10px;

    font-size: 21px;
    background-color:#242424;
    border: 2px solid #333333;

    cursor: pointer;
    border-radius: 3px;

    transition: all ease .3s;
}

.search-section form .form-btn:hover{
    background-color:  #262626;
    border: 2px solid #f2f2f2;
}
.search-section form .form-btn:disabled{
    background-color:#242424;
    border: 2px solid #333333;
    cursor: auto;
}

@media (min-width: 1024px) {
    .search-section form {
        width: 70%;
    }
}

@media (min-width: 1440px) {
    .search-section form {
        width: 50%;
    }
}
